* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: rgb(150, 203, 203);
}

header {
  margin: 0 0 1rem 0;
  padding: 1rem 1rem;
  font-size: 1.8rem;
  width: fit-content;
  background-color: rgb(234, 230, 230);
  color: #000;
  margin-inline-start: 2rem;
}

#content {
  display: flex;
  font-size: 1.9rem;
  padding: 0 2rem;
}

.score-board {
  margin-inline-end: 1.6rem;
  flex-grow: 1;
}

.score-board div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-wrap {
  margin: 1.6rem 0;
  border: 2.5px solid rgb(27, 27, 27);
}

.scores {
  min-height: 35rem;
  list-style: none;
  font-weight: 500;
}

.scores li {
  position: relative;
  padding: 0.8rem 1.3rem;
}

.scores > li:nth-child(2n) {
  background-color: rgb(71, 71, 132);
  color: white;
}

.add-score-section {
  flex-grow: 1;
  padding: 0.9rem 1.5rem;
  margin-inline-start: 1.8rem;
}

.add-score-form {
  display: flex;
  flex-direction: column;
}

.add-score-form h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: rgb(60, 60, 170);
}

.score-board h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: rgb(60, 60, 170);
}

.form-input {
  color: rgb(60, 60, 170);
  padding: 0.56rem;
  border: 2px solid #000;
  margin-block-end: 3rem;
}

.btn {
  position: relative;
  padding: 0.8rem;
  border: 0.15rem solid #000;
}

.btn::after {
  width: 100%;
  content: "";
  position: absolute;
  background-color: rgb(60, 60, 170);
  height: 100%;
  padding: 0.2rem;
  z-index: -1;
  top: 0.2rem;
  left: 0.2rem;
}

.submit-score-btn {
  width: 25%;
  padding: 1rem;
  align-self: flex-end;
  font-weight: 600;
}

.refresh-btn {
  font-weight: bold;
  text-align: center;
}

.error-message,
.success-message {
  color: rgb(0, 0, 0);
  padding: 0.31rem 1rem;
  position: absolute;
  top: -2px;
  left: 140px;
}

.error-message {
  background-color: rgb(238, 27, 27);
  text-align: center;
  height: 2.3rem;
  color: aliceblue;
}

.success-message {
  background-color: rgb(11, 172, 48);
  text-align: center;
  height: 2.3rem;
}
